<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Version Dashboard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AA6AD7AB1C6B4BD90097CD9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA6AD7BC1C6B4BD90097CD9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA6AD7C71C6B4BD90097CD9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
