<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Owncloud</string>
	<key>type</key>
	<string>Owncloud</string>
	<key>headVersion</key>
	<string></string>
	<key>creationDate</key>
	<date>2017-10-12T20:05:51Z</date>
	<key>lastRefresh</key>
	<date>2017-10-12T20:06:05Z</date>
</dict>
</plist>
